In [58]:
import pandas as pd
from collections import Counter

# Part I - Regular Expressions

In [59]:
df = pd.read_csv("faculty.csv")
df[:3]

,name,degree,title,email
0,Scarlett L. Bellamy,Sc.D.,Associate Professor of Biostatistics,bellamys@mail.med.upenn.edu
1,Warren B. Bilker,Ph.D.,Professor of Biostatistics,warren@upenn.edu
2,Matthew W Bryan,PhD,Assistant Professor of Biostatistics,bryanma@upenn.edu

## Q1. Find how many different degrees there are, and their frequencies: Ex: PhD, ScD, MD, MPH, BSEd, MS, JD, etc.

In [60]:
df['Degree'] = df[' degree'].str.replace('.','').str.lower()
df[:3]

,name,degree,title,email,Degree
0,Scarlett L. Bellamy,Sc.D.,Associate Professor of Biostatistics,bellamys@mail.med.upenn.edu,scd
1,Warren B. Bilker,Ph.D.,Professor of Biostatistics,warren@upenn.edu,phd
2,Matthew W Bryan,PhD,Assistant Professor of Biostatistics,bryanma@upenn.edu,phd

In [61]:
list_degrees = list(df['Degree'])
degrees = [item.split() for item in list_degrees]
deg = [degree for item in degrees for degree in item]

dict_degrees  = dict(Counter(deg))
dict_degrees

{'0': 1,
 'bsed': 1,
 'jd': 1,
 'ma': 1,
 'md': 1,
 'mph': 2,
 'ms': 2,
 'phd': 31,
 'scd': 6}

## Q2. Find how many different titles there are, and their frequencies: Ex: Assistant Professor, Professor

In [62]:
df[' title'].value_counts()

Professor of Biostatistics              13
Assistant Professor of Biostatistics    12
Associate Professor of Biostatistics    12
Name:  title, dtype: int64

## Q3. Search for email addresses and put them in a list. Print the list of email addresses.

In [67]:
list_emails = list(df[' email'])
list_emails[:3]

['bellamys@mail.med.upenn.edu', 'warren@upenn.edu', 'bryanma@upenn.edu']

## Q4. Find how many different email domains there are (Ex: mail.med.upenn.edu, upenn.edu, email.chop.edu, etc.). Print the list of unique email domains.

In [72]:
domains = [email[email.find('@')+1:] for email in list_emails]
dict(Counter(domains))

{'cceb.med.upenn.edu': 1,
 'email.chop.edu': 1,
 'mail.med.upenn.edu': 23,
 'upenn.edu': 12}