In [85]:
import pandas as pd

In [87]:
df = pd.read_csv("football.csv")
df[:3]

                Team  Games  Wins  Losses  Draws  Goals  Goals Allowed  Points
0            Arsenal     38    26       9      3     79             36      87
1          Liverpool     38    24       8      6     67             30      80
2  Manchester United     38    24       5      9     87             45      77

In [89]:
df['Diff'] = df['Goals'] - df['Goals Allowed']

In [97]:
df.sort_values(['Diff'], ascending = False)[:1]

      Team  Games  Wins  Losses  Draws  Goals  Goals Allowed  Points  Diff
0  Arsenal     38    26       9      3     79             36      87    43